@import url("../css/navbar.css");
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    
}
.bg{
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url('../images/form-bg.jpg') center/cover;
}
.form-container{
    display: flex;
    width: 750px;
    height: 550px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
    /* opacity: 1;  */
}
.sign-up-form{
   background: #232328;
   width: 50%;
   height: 100%;
   padding: 50px 50px;
   box-sizing: border-box;
}
.form-input {
    width: 300px;
    color: #cc683c;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    align-items: center;
    outline: none;
    margin-bottom: 50px;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    transition: border-bottom-color .8s;
}
.form-input:focus{
    border-bottom-color: #cc673c52;
}
.sign-up-form p{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
}
.sign-up-form label{
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sign-up-form input[type ="checkbox"]{
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:30px;
    height: 15px;
    background: white;
    border-radius: 50px;
    margin:0 8px;
    box-shadow: inset 0 0 10px rgba(112, 25, 25, 0.4);
    outline: none;
    transition: background-color .5s;
}
.sign-up-form input:checked[type="checkbox"]{
    background-color: #cc683c;
}

.sign-up-form input[type="checkbox"]::before{
    content: "";
    width: 17px;
    height: 17px;
   background-color: #aaaaaa;
   position: absolute;
   top: -1px;
   left: -4px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
   transition: left .5s;
}
.sign-up-form input:checked[type="checkbox"]::before{
    left: 18px;
}
.form-btn{
    display: block;
    margin-top: 0px;
    width: 150px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    background: transparent;
    outline: none;
    border-radius: 50px;
    color: #ffffff;
    padding: 8px 5px ;
    border: 2px solid white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.header{
    width: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, .4), rgba(0, 0, 0, .2)), url("../images/bg2.jpeg") no-repeat center;  
    background-size: cover;
    box-shadow: -10px 0 30px rgba(0,0,0,0.3);
    position: relative;
  }
  .header h1{
      position: absolute;
      top: 25%;
      padding: 15px;
      color:white;
  }
  .x-btn{
      position: absolute;
      bottom: -3.5%;
      right: 1%;
      font-size: 20px;
      font-weight: bold;
      color: #262626;
      cursor: pointer;
  }
  .form-btn a{
      color: white;
      text-decoration: none;
      cursor: pointer;
      letter-spacing: 1px;
      font-size: 15px;
      width: 150px;
  }
  